@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 16px;
  padding: 0;
  overflow: hidden;
  width: max-content;

  font-family: "Roboto Mono", monospace;

  color-scheme: light dark;
  color: white;
  background-color: green;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  color: white;
}

#media-player-container {
  height: 20vh;
  aspect-ratio: 16/9;
}

#youtube-player {
  width: 100%;
  height: 100%;
}

#alert-box {
  background: black;
  margin: 0;
  padding: 1rem;
  border: 0.5rem solid white;
  border-radius: 0 0 1rem 1rem;
}

#donate-title {
  display: flex;
}

.hidden {
  display: none;
}
